@font-face {
  font-family: RavenDisplay;
  src: url('@fontsource/rajdhani/files/rajdhani-latin-400-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: RavenDisplay;
  src: url('@fontsource/rajdhani/files/rajdhani-latin-600-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: RavenDisplay;
  src: url('@fontsource/rajdhani/files/rajdhani-latin-700-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: RavenMono;
  src: url('@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-500-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: RavenMono;
  src: url('@fontsource/ibm-plex-mono/files/ibm-plex-mono-latin-700-normal.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
